<tr>
  <td><%= link_to targeting_report.filename, report_path(targeting_report) %></td>
  <td><%= targeting_report.type %></td>
  <td><%= targeting_report.period_start.strftime('%b %d, %Y') %> - <%= targeting_report.period_end.strftime('%b %d, %Y') %></td>
  <% if targeting_report.imported? %>
    <td><%= targeting_report.imported_at.strftime('%b %d, %Y') %></td>
  <% else %>
    <td><%= link_to 'Import Now', import_report_path(targeting_report), method: :post, class: 'btn btn-sm btn-primary' %></td>
  <% end %>
</tr>
