<%= breadcrumbs_helper([
  { text: 'Dashboard', path: root_path },
  { text: 'SKUs', path: skus_path },
  { text: @sku.name, path: nil }
]) %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <%= link_to 'Edit', edit_sku_path(@sku) %>
      </div>
      <div class="card-body">
        <p><strong>SKU:</strong> <%= @sku.name %></p>
        <p><strong>First Recorded:</strong><%= @sku.created_at.strftime('%b %d, %Y') %></p>
        <% if @sku.asin %>
          <p><strong>Link:</strong> <%= asin_link(@sku.asin) %></p>
        <% end %>
        <p><%= link_to 'View Search Terms', sku_search_terms_path(@sku) %></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card mt-3">
      <div class="card-header">
        Ad Groups
      </div>
      <div class="">
        <ul class="list-group list-group-flush">
          <% @ad_groups.each do |ad_group| %>
            <li class="list-group-item"><%= link_to ad_group.campaign.name, ad_group.campaign %> - <%= link_to ad_group.name, ad_group %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header">
        Related ASINs
      </div>
      <div class="">
        <ul class="list-group list-group-flush">
          <% @related_asins.each do |related_asin| %>
            <li class="list-group-item"><%= link_to related_asin.text, related_asin %> <small><%= asin_link(related_asin.text) %></small></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mt-3">
      <div class="card-header">
        Customer Search Terms
      </div>
      <div class="">
        <ul class="list-group list-group-flush">
          <% @search_terms.each do |search_term| %>
            <li class="list-group-item"><%= link_to search_term.text, search_term %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
