<tr>
  <td><%= link_to search_term.text, search_term_path(search_term) %></td>
  <td><%= search_term.reported_days %></td>
  <td><%= search_term.impressions %></td>
  <td><%= search_term.clicks %></td>
  <td><%= number_to_percentage(search_term.ctr * 100) %></td>
  <td class="text-right"><%= number_to_currency(search_term.sales / 100) %></td>
</tr>
