<%= breadcrumbs_helper([
  { text: 'Dashboard', path: root_path },
  { text: 'Search Terms', path: search_terms_path },
  { text: @search_term.text, path: nil }
]) %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <p><strong>Search Term:</strong> <%= @search_term.text  %></p>
        <p><strong>First Recorded:</strong><%= @search_term.created_at.strftime('%b %d, %Y') %></p>
        <% if @search_term.asin? %>
          <p>
            <strong>ASIN</strong>
            <% link = "https://www.amazon.com/dp/#{@search_term.text}" %>
            <%= link_to link, link, target: :_blank %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'search_term_report_items/table', locals: { items: @search_term_report_items } %>
