<%= breadcrumbs_helper([
  { text: 'Dashboard', path: root_path },
  { text: 'Search Terms', path: search_terms_path },
  { text: @search_term.text, path: nil }
]) %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <p><strong>Search Term:</strong> <%= @search_term.text  %></p>
        <p><strong>First Recorded:</strong><%= @search_term.created_at.strftime('%b %d, %Y') %></p>
        <% if @search_term.asin? %>
          <p>
            <strong>ASIN</strong>
            <%= asin_link(@search_term.text) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card mt-3">
      <div class="card-header">
        Triggered By Keywords
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <% @keywords.each do |keyword| %>
            <li class="list-group-item">
              <%= keyword.text %> <em><%= keyword.match_type %></em>
              <%= link_to keyword.ad_group.campaign.name, keyword.ad_group.campaign %>
              <%= link_to keyword.ad_group.name, keyword.ad_group %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Impressions
      </div>
      <div class="card-body">
        <%= line_chart impressions_search_term_stats_path(@search_term) %>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Clicks
      </div>
      <div class="card-body">
        <%= line_chart clicks_search_term_stats_path(@search_term) %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'search_term_report_items/table', locals: { items: @search_term_report_items } %>
