<tr>
  <td><%= search_term_report_item.ad_group.campaign.name %></td>
  <td><%= search_term_report_item.ad_group.name %></td>
  <td><%= search_term_report_item.date %></td>
  <td><%= search_term_report_item.impressions %></td>
  <td><%= search_term_report_item.clicks %></td>
</tr>
