<tr>
  <td><%= link_to keyword.campaign.name, keyword.campaign %></td>
  <td><%= link_to keyword.ad_group.name, keyword.ad_group %></td>
  <td><%= link_to keyword.text, keyword %></td>
  <td><%= keyword.reported_days %></td>
  <td><%= keyword.impressions %></td>
  <td><%= keyword.clicks %></td>
  <td><%= number_to_percentage(keyword.ctr) %></td>
</tr>
