<%= breadcrumbs_helper([
  { text: 'Dashboard', path: root_path },
  { text: 'Search Term Reports', path: search_term_reports_path },
  { text: @search_term_report.name, path: nil }
]) %>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        Search Term Report
        <div class="btn-group">
          <%= link_to 'Edit', edit_search_term_report_path(@search_term_report), class: 'btn btn-sm btn-secondary' %>
          <%= link_to 'Delete', search_term_report_path(@search_term_report), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      <div class="card-body">
        <p>
          <strong>Name:</strong>
          <%= @search_term_report.name  %>
        </p>
        <p>
          <strong>File:</strong>
          <%= link_to @search_term_report.file.blob.filename, rails_blob_path(@search_term_report.file, disposition: "attachment")  %>
        </p>
        <p>
          <strong>Imported:</strong>
          <% if @search_term_report.imported? %>
            <%= @search_term_report.imported %>
          <% else %>
            <%= link_to 'Import Now', import_search_term_report_path(@search_term_report), method: :post  %>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Keywords
      </div>
      <ul class="list-group list-group-flush">
        <%#= render @ad_groups %>
      </ul>
    </div>
  </div>
</div>
