<tr>
  <td><%= link_to targeting_report_item.ad_group.campaign.name, targeting_report_item.ad_group.campaign %></td>
  <td><%= link_to targeting_report_item.ad_group.name, targeting_report_item.ad_group %></td>
  <td><%= link_to targeting_report_item.keyword.text, targeting_report_item.keyword %></td>
  <td><%= targeting_report_item.date.strftime('%b %d, %Y') %></td>
  <td><%= targeting_report_item.impressions %></td>
  <td><%= targeting_report_item.clicks %></td>
  <td><%= number_to_percentage(targeting_report_item.click_through_rate) %></td>
  <td><%= number_to_currency(targeting_report_item.cost_per_click / 100) %></td>
  <td><%= number_to_currency(targeting_report_item.spend / 100 ) %></td>
  <td><%= number_to_currency((targeting_report_item.total_advertising_cost_of_sales || 0) / 100) %></td>
  <td><%= number_to_percentage(targeting_report_item.total_return_on_advertising_spend) %></td>
  <td><%= number_to_currency(targeting_report_item.seven_day_total_sales / 100) %></td>
  <td><%= targeting_report_item.seven_day_total_orders %></td>
  <td><%= targeting_report_item.seven_day_total_units %></td>
  <td><%= number_to_percentage(targeting_report_item.seven_day_conversion_rate) %></td>
  <td><%= targeting_report_item.seven_day_advertised_sku_units %></td>
  <td><%= targeting_report_item.seven_day_other_sku_units %></td>
  <td><%= number_to_currency(targeting_report_item.seven_day_advertised_sku_sales/ 100) %></td>
  <td><%= number_to_currency(targeting_report_item.seven_day_other_sku_sales / 100) %></td>
</tr>
