<%= breadcrumbs_helper([
  { text: 'Dashboard', path: root_path },
  { text: 'Campaigns', path: campaigns_path },
  { text: @campaign.name, path: nil }
]) %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        Campaign
        <%= link_to 'Edit', edit_campaign_path(@campaign) %>
      </div>
      <div class="card-body">
        <p>
          <strong>Name:</strong>
          <%= @campaign.name %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Ad Groups</h3>
  </div>
</div>

<div class="row">
  <% @ad_groups.each do |ad_group| %>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <%= ad_group.name %>
        </div>
        <div class="card-body">
          <% match_types = ad_group.keywords.group_by(&:match_type) %>
          <% match_types.each do |match_type, keywords| %>
            <h4>Match Type: <%= match_type %></h4>
            <ul class="list-group">
              <% keywords.each do |keyword| %>
                <li class="list-group-item"><%= link_to keyword.text, keyword %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
