<%= breadcrumbs_helper([
  { text: 'Dashboard', path: root_path },
  { text: 'Campaigns', path: campaigns_path },
  { text: @campaign.name, path: nil }
]) %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        Campaign
        <%= link_to 'Edit', edit_campaign_path(@campaign) %>
      </div>
      <div class="card-body">
        <p><strong>Name:</strong> <%= @campaign.name %></p>
        <p><strong>Targeting Type:</strong> <%= @campaign.targeting_type %></p>
        <p><strong>Status:</strong> <%= @campaign.status %></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Ad Groups</h3>
  </div>
</div>

<div class="row">
  <% @ad_groups.each do |ad_group| %>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <%= link_to ad_group.name, ad_group %>
        </div>
      </div>
    </div>
  <% end %>
</div>
