<tr>
  <td><%= link_to report.filename, report_path(report) %></td>
  <td><%= report.type %></td>
  <% if report.imported? %>
    <td><%= report.period_start.strftime('%b %d, %Y') %> - <%= report.period_end.strftime('%b %d, %Y') %></td>
    <td><%= report.imported.strftime('%b %d, %Y') %></td>
  <% else %>
    <td><strong><%= link_to 'Import Now', import_report_path(report), method: :post, class: 'btn btn-primary' %></strong> </td>
    <td></td>
  <% end %>
</tr>
